
@model WebShop.Views.Account.registrModel

<head>
    <link href="~/css/registr.css" rel="stylesheet" />
    <link href="~/css/AllPhones.css" rel="stylesheet" />

</head>
<div class="wrapper">
    <div class="container">
        <h1>Welcome</h1>

        <form class="form">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button class="custom-btn btn-15" type="submit" id="login-button"><h3>Login</h3></button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="~/js/registr.js"></script>